* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  margin:3px;
}

.details-menu {
  background-color:#faf9fa;
}

.version {
  cursor: pointer;
}

.my-nav{
  background-color: #6441a4;
  color: #d3cae8;
}

.navbar-brand:hover{
  text-decoration: underline;
  color:#0e9bd8 !important;
}